@model BlogCreateVm
<div class="container">
    <h1>Create Blog</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="ImgFile" class="form-label">Image File</label>
                <input asp-for="ImgFile" class="form-control">
                <span asp-validation-for="ImgFile" style="color:red"></span>
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-6">
                <label asp-for="Description" class="form-label">Description</label>
                <textarea class="form-control" asp-for="Description" rows="4"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>